<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/servlet/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateCode</display-name>
    <servlet-name>ValidateCode</servlet-name>
    <servlet-class>servlet.ValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCode</servlet-name>
    <url-pattern>/servlet/ValidateCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/servlet/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/servlet/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/servlet/DeleteServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>
	    	/day02/pages/user_login.jsp,
	    	/day02/images/register_background.jpg,
	    	/day02/images/login_background.jpg,
	    	/day02/images/ban.png,
	    	/day02/images/right.png,
	    	/day02/servlet/LoginServlet,
	    	/day02/pages/no_login.jsp,
	    	/day02/pages/user_register.jsp,
	    	/day02/servlet/ValidateCode,
	    	/day02/servlet/CheckServlet
	    </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/servlet/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayOrderServlet</display-name>
    <servlet-name>DisplayOrderServlet</servlet-name>
    <servlet-class>servlet.DisplayOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayOrderServlet</servlet-name>
    <url-pattern>/servlet/DisplayOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolveOrderServlet</display-name>
    <servlet-name>SolveOrderServlet</servlet-name>
    <servlet-class>servlet.SolveOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolveOrderServlet</servlet-name>
    <url-pattern>/servlet/SolveOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderServlet</display-name>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>servlet.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/servlet/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTypeServlet</display-name>
    <servlet-name>AddTypeServlet</servlet-name>
    <servlet-class>servlet.AddTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTypeServlet</servlet-name>
    <url-pattern>/servlet/AddTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTypeServlet</display-name>
    <servlet-name>DeleteTypeServlet</servlet-name>
    <servlet-class>servlet.DeleteTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTypeServlet</servlet-name>
    <url-pattern>/servlet/DeleteTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyProduct</display-name>
    <servlet-name>ModifyProduct</servlet-name>
    <servlet-class>servlet.ModifyProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProduct</servlet-name>
    <url-pattern>/servlet/ModifyProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/servlet/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/servlet/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeImgServlet</display-name>
    <servlet-name>ChangeImgServlet</servlet-name>
    <servlet-class>servlet.ChangeImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeImgServlet</servlet-name>
    <url-pattern>/servlet/ChangeImgServlet</url-pattern>
  </servlet-mapping>
</web-app>